/* بِسْمِ اللَّـهِ الرَّحْمَـٰنِ الرَّحِيمِ  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -moz-box-sizing: border-box;
}
body{
    overflow-x: hidden;

}
header{
 background-image: url(bb.png);
background-repeat: no-repeat;
background-size: cover;
height: auto;
width: 100%;
min-height: 360px;
background-size: 100% 100%;

}


/* star nav */
nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.login{
margin: 5px;
align-items: center;
justify-content: center;
display: flex;
width: 20%;
margin-top: 35px;
padding: auto;
}
.logo{
    align-items: center;
justify-content:space-between;
display: flex;
width: 50%;
margin-top: 35px;
margin-left: 25px;


}
.logo .hov{
border-bottom: 3px solid rebeccapurple;
}
.logo a:hover{
    transform: translate(5px, 10px);
}
.logo a:hover{
background-color: rgba(255, 250, 250, 0.981) ;}

.logo a {
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-size: large;
}


.ab{
    position: absolute;
    font-size: large;
}
.login:hover{
    transform: translate(5px, 10px);
}



/* end nav  */
/* <!-- div 2 <p> & picture of boy  --> */
div.pics{
    display: flex;
    justify-content:space-between;
    align-items: center;

}
div .pr {
    width: 50%;
    margin-left:200px;
padding-bottom: 140px;
color: rgba(0,0,0,.5);

}
.sp{
    color: blueviolet;
    font-family: "Varela Round";
}
.pic{
    position: relative;
    width: 35%;
    padding-right: 15px;
    padding-left: 15px;
height: 400px;
}

.a{
    position: absolute;
    left: 15%;

}
.b{
    position: absolute;
top: 15px;   
 left: 28%;
    width: 30%; 
}
.c{
    position: absolute;
    top:170px;   
    left: 25%;
}
.d{
    position: absolute;
    top: 70%;
    right: 50%;
}
/* end div two and pic of boy  */

/* star section one  */
.sec{
    position: relative;
   
height: 600px;
}
.sec1{
 position: relative;
    left: 190px;
    right: 100px;
}
.sec2{
    position: absolute;
    top: 60px;
    left: 100px;
    color: rgba(0,0,0,.5);
}
.sec2 p{
    font-size: 30px;
    font-style:oblique;
}
.sec3{
    position: absolute;
    top: 130px;
    left: 600px;

    color: rgba(0,0,0,.5);
}
.sec3 p{
    font-size: 30px;
    font-style:oblique;
}

.sec4{
    position: absolute;
right: 40px;
bottom: 14px;
    color: rgba(0,0,0,.5);
}
.sec4 p{
    font-size: 30px;
    font-style:oblique;
}
.sec5{
    position: absolute;

    bottom: 14px;
    left: 70px;
}
.sec6{
    position: absolute;
    bottom: 100px;
    left: 160px;
    color:white;
}
.sec6 p{
    font-size: 9px;
}
.sec6 span {
    font-size: 22px;
}
/* end of section one  */
/* start section two */
.sc{
    display: flex;
    justify-content: space-around;
    align-items:start;
    height: 450px;
position: relative;

}
.sc1{

margin-left: 170px;
margin-top: 50px;

}
.sc3{
    margin-right: 170px;
margin-top: 50px;

}

.sc2 p{
    font-size: 21px;
    font-style:oblique;
    color: rgba(0,0,0,.5);

}
.sc2 span{
    color: rgba(0,0,0,.5);
font-size: 17px;
}
.sc4{
    position: absolute;
    color: rgba(0,0,0,.5);
font-size: 23px;
top: 240px;
right: 550px;

}
.sc5{
    position: absolute;
    color: rgba(0,0,0,.5);
    font-size: 23px;
    top: 240px;
    left: 540px;

}

/* end of section two  */

/* start section 3 fooooter  */

.fot{
    height: 510px;
position: relative;
background-image: url(purple\ up.png);
width: 110%;
background-repeat: no-repeat;
background-size: cover;
top: 40px;
left: -25px;

}
.fot1{
    position: absolute;
    right: 300px;
    bottom: 0;
}
.fot2{
    position: absolute;
  
   bottom: 30px;
left: 40px;
width: 30%;
}
.fot2 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color:white;
    font-size: 16px;
}
.fot3{
    position: absolute;
    bottom: 70px;
    left: 60px;
    display: flex;
    width: 6%;

justify-content: space-around;
}

.apple{
    position: absolute;
    bottom: 135px;
    left: 50px;
display: flex;
padding: 9px;

border-radius: 9%;
border: 2px solid white;
color: rgba(0,0,0,.5);
background-color: white;
font-size: 13px;
}
.play{

padding: 10px;
    position: absolute;
    bottom: 135px;
    left: 220px;
display: flex;
border-radius: 9%;
border: 2px solid white;
color: rgba(0,0,0,.5);
background-color: white;
font-size:13px;
}
.ss{
    color: black;
    font-size: 14x;
}
.sss{
    color: black;
    font-size: 14px;
}

/* end of sectio 3 foooter  */

/* الحمد لله  */
